<configuration>
    <!-- Appender para la consola -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- Nombre del archivo donde se guardarán los logs -->
        <file>test.html</file>
        <append>true</append> <!-- Añadir al archivo existente o sobrescribir -->

        <!-- Encoder con Layout para generar el formato HTML -->
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.html.HTMLLayout">
                <!-- Personalización del formato (opcional) -->
                <pattern>%date%thread%level%logger%msg</pattern>
            </layout>
        </encoder>
    </appender>

    <logger name="base.Actions" level="DEBUG" />
    <logger name="base.Area" level="DEBUG" />
    <logger name="base.Clock" level="DEBUG" />
    <logger name="base.Day" level="DEBUG" />
    <logger name="base.DaySchedule" level="DEBUG" />
    <logger name="base.DirectoryAreas" level="DEBUG" />
    <logger name="base.DirectoryUserGroups" level="DEBUG" />
    <logger name="base.Door" level="DEBUG" />
    <logger name="base.DoorState" level="DEBUG" />
    <logger name="base.Main" level="OFF" />
    <logger name="base.Observer" level="DEBUG" />
    <logger name="base.Partition" level="DEBUG" />
    <logger name="base.Schedule" level="DEBUG" />
    <logger name="base.Space" level="DEBUG" />
    <logger name="base.User" level="DEBUG" />
    <logger name="base.UserGroup" level="DEBUG" />

    <logger name="base.doorstates.LockedState" level="DEBUG" />
    <logger name="base.doorstates.ProppedState" level="DEBUG" />
    <logger name="base.doorstates.UnlockedShortlyState" level="DEBUG" />
    <logger name="base.doorstates.UnlockedState" level="DEBUG" />

    <logger name="base.requests.RequestArea" level="DEBUG" />
    <logger name="base.requests.RequestReader" level="DEBUG" />
    <logger name="base.requests.RequestRefresh" level="DEBUG" />




    <!-- Configuración global -->
    <root level="DEBUG">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>

